[submodule "py_hardware_binding"]
	path = py_hardware_binding
	url = https://github.com/spooky-finn/py_hardware_binding.git
[submodule "genderComputer"]
	path = gender_computer
	url = https://github.com/tue-mdse/genderComputer.git
